rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      // Allow anyone to read and write files
      allow read, write: if true;
    }
  }
}
